<h1 align = 'center'>List of All Metal Categories</h1>


<% @metal_categories.each do |metal_category| %>
    
     <div class = 'container'>
        <div class = 'well col-md-8 col-md-offset-2'>
            <div align = 'center'>
                <h1><%= link_to metal_category.name, metal_category_path(metal_category), class: 'index-title' %></h1>
            </div> 
        </div>
    </div>

<% end %>